@font-face {
    font-family: Lora;
    src: url('../fonts/Lora/Lora-Regular.ttf');
}
@font-face {
    font-family: PerMarker;
    src: url('../fonts/Permanent_Marker/PermanentMarker.ttf');
}@font-face {
    font-family: RockSalt;
    src: url('../fonts/Rock_Salt/RockSalt.ttf');
}
